In [22]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import matplotlib

In [21]:
a = np.arange(15).reshape(5,3)

In [25]:
df = pd.DataFrame(a)

In [27]:
df.columns = list('ABC')

In [29]:
df['B'].cumprod()

0       1
1       4
2      28
3     280
4    3640
Name: B, dtype: int32

In [30]:
df

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14