In [13]:
import tushare 
import talib as tb
import pandas as pd
import numpy as np

AttributeError: module 'tushare' has no attribute 'stock'

In [14]:
a = np.arange(12).reshape(3,4)

aa = pd.DataFrame(a,columns = list('ABCD'))
aa.index= [1,3,2]
aa

   A  B   C   D
1  0  1   2   3
3  4  5   6   7
2  8  9  10  11

In [15]:
b = np.arange(8).reshape(4,2)
bb=  pd.DataFrame(b,columns = list('EF'))
bb

   E  F
0  0  1
1  2  3
2  4  5
3  6  7

In [16]:
result = pd.concat([aa,bb], axis=1, sort=False)
result

     A    B     C     D  E  F
0  NaN  NaN   NaN   NaN  0  1
1  0.0  1.0   2.0   3.0  2  3
2  8.0  9.0  10.0  11.0  4  5
3  4.0  5.0   6.0   7.0  6  7