In [2]:
import requests
import re
from bs4 import BeautifulSoup
import pymysql

In [18]:
url = 'http://money.cnn.com/data/dow30/'
html = requests.get(url)
soup = BeautifulSoup(html.text,"lxml")
trname = soup.find_all("tr")
storkprice = []
namelist = []
storkname = []
nameprice = {}

def RmyQsl(id,name,price):
    id = id
    name = name
    price = price
    db = pymysql.connect(host='localhost',user='root', password='Lovegame3998', port=3306 , db='spiders')
    cursor = db.cursor()
    sql = 'INSERT INTO students(id, name, price) values(%s, %s, %s)'
    try:
        cursor.execute(sql, (id, name, price))
        db.commit()
    except:
        db.rollback()
    
    db.close()
    print("正常写入数据{},{},{}".format(id,name,price))
for i in trname:
    try:
        name = i.find("a",class_="wsod_symbol").string
        price = i.find("span",class_="wsod_stream").string
        aname = i.find("span").string
        id = str(name)
        na = str(aname)
        pr = float(price)
#         storkname.append(aname)
#         namelist.append(name)
#         storkprice.append(price)
#         nameprice[name] =(aname,float(price))
        RmyQsl(id,na,pr)
       
    except:
        continue
#print(storkname)
#print(namelist)
#print(storkprice)
# print(nameprice)
# strprice = str(nameprice)

正常写入数据MMM,3M,212.62
正常写入数据AXP,American Express,91.0
正常写入数据AAPL,Apple,166.68
正常写入数据BA,Boeing,322.44
正常写入数据CAT,Caterpillar,143.89
正常写入数据CVX,Chevron,112.24
正常写入数据CSCO,Cisco,41.01
正常写入数据KO,Coca-Cola,42.67
正常写入数据DIS,Disney,98.66
正常写入数据DWDP,DowDuPont Inc,62.04
正常写入数据XOM,Exxon Mobil,73.22
正常写入数据GE,General Electric,13.12
正常写入数据GS,Goldman Sachs,247.35
正常写入数据HD,Home Depot,172.9
正常写入数据IBM,IBM,150.07
正常写入数据INTC,Intel,48.92
正常写入数据JNJ,Johnson & Johnson,124.56
正常写入数据JPM,JPMorgan Chase,107.85
正常写入数据MCD,McDonald's,157.72
正常写入数据MRK,Merck,53.27
正常写入数据MSFT,Microsoft,88.52
正常写入数据NKE,Nike,64.12
正常写入数据PFE,Pfizer,35.05
正常写入数据PG,Procter & Gamble,77.4
正常写入数据TRV,Travelers Companies Inc,134.84
正常写入数据UTX,United Technologies,123.48
正常写入数据UNH,UnitedHealth,217.2
正常写入数据VZ,Verizon,47.16
正常写入数据V,Visa,118.39
正常写入数据WMT,Wal-Mart,85.55

<class 'float'>